


body {
    background-image: url("lh.gif");
    background-size: cover;

}

h1 {
    text-align: center;
    color: darkturquoise;
    font-size: 60px;
    font-family:"Courier New", Courier, monospace;

}

h2{
  text-align: center;
  color: chartreuse;
  font-size: 40px;
  font-family:"Courier New", Courier, monospace;


}


p {
    text-align: center;
    color: mediumslateblue;
    font-size: 30px;
    font-family:"Courier New", Courier, monospace;

}
img{
    display: block;
    margin: left;
    width: 30%;
    border-radius: 70%;
    clear: right;

}

li{
  text-align: center;
  font-size: 24px; font:"Courier New"



}
